{{ attach_library('surface/typewriter') }}

<div class="typewriter-cta{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  <div class="container">
    <div class="visually-hidden">
      {% for item in words %}
        <div class="typewriter__words">{{ item }}</div>
      {% endfor %}
    </div>

    <div class="typewriter__text prose">
      <h2 class="typewriter"></h2>
    </div>
  </div>
</div>
