{{ attach_library('surface/page-listing') }}

<div class="page-listing{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  <div class="page-listing__type">
    {{ type }}
  </div>

  <h3 class="page-listing__title">
    <a href="{{ url }}">
      {{ title }}
    </a>
  </h3>

  {% if subtitle %}
    <div class="page-listing__subtitle">
      {{ subtitle }}
    </div>
  {% endif %}

  {% if teaser %}
    <div class="page-listing__teaser prose">
      {{ teaser }}
    </div>
  {% endif %}
</div>
