{{ attach_library('surface/search-results') }}

{% if title %}
  {{ title_prefix }}
  <h3 class="search-results__title" {{- title_attributes ? title_attributes|without(class) -}}>
    <a href="{{ url }}">{{ title }}</a>
  </h3>
  {{ title_suffix }}
{% endif %}

{% if snippet %}
<div class="search-results__snippet prose" {{- content_attributes ? content_attributes|without(class) -}}>
  {{ snippet }}
</div>
{% endif %}
