{% if links -%}
  {%- if heading.text -%}
    {%- if heading.level -%}
      <{{heading.level}}{{heading.attributes}}>{{ heading.text }}</{{heading.level}}>
    {%- else -%}
      <h2{{heading.attributes}}>{{ heading.text }}</h2>
    {%- endif -%}
  {%- endif -%}

  {% if 'links--dropbutton' in modifier %}
    <details class="details details--dropbutton">
      {%- for item in links -%}
        {% if loop.length > 1 and loop.index == 1 %}
          <summary class="details__summary">
            {%- if item.link -%}
              {{ item.link }}
            {%- elseif item.text_attributes -%}
              <span{{ item.text_attributes }}>{{ item.text }}</span>
            {%- else -%}
              {{ item.text }}
            {%- endif -%}
          </summary>
          <div class="details__content">
            <ul>
        {% else %}
          <li{{item.attributes}}>
            {%- if item.link -%}
              {{ item.link }}
            {%- elseif item.text_attributes -%}
              <span{{item.text_attributes}}>{{ item.text }}</span>
            {%- else -%}
              {{ item.text }}
            {%- endif -%}
          </li>

          {% if loop.last %}
              </ul>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </details>
  {% else %}
    {%- for item in links -%}
      {% if loop.length > 1 and loop.index == 1 %}
        <ul>
      {% else %}
        <li{{item.attributes}}>
          {%- if item.link -%}
            {{ item.link }}
          {%- elseif item.text_attributes -%}
            <span{{item.text_attributes}}>{{ item.text }}</span>
          {%- else -%}
            {{ item.text }}
          {%- endif -%}
        </li>

        {% if loop.last %}
          </ul>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}
