{% if region_wrapper %}
  <section class="region{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}{% if id %} id="{{ id }}"{% endif %}>
{% endif %}

  {% block content %}
    {{ content }}
  {% endblock %}

{% if region_wrapper %}
  </section>
{% endif %}
