{{ attach_library('surface/metric') }}

<div class="metric container{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  <div class="metric__container">
    <div class="metric__title">
      {{ title }}
    </div>
    <div class="metric__subtitle">
      {{ subtitle }}
    </div>
    <div class="metric__text prose">
      {{ text }}
    </div>
  </div>
</div>
