{{ attach_library('surface/share') }}

<div class="share{{- ' ' ~ modifier -}}">
  <div>Share:</div>
  <ul>
    <li>
      <a title="Share this article on Facebook" href="{{ article_facebook|default('#') }}" target="_blank">
        <span class="fa-brands fa-facebook"></span>
        <span class="visually-hidden">Facebook</span>
      </a>
    </li>
    <li>
      <a title="Share this article on Twitter" href="{{ article_twitter|default('#') }}" target="_blank">
        <span class="fa-brands fa-x-twitter"></span>
        <span class="visually-hidden">Twitter</span>
      </a>
    </li>
    <li>
      <a title="Share this article on LinkedIn" href="{{ article_linkedin|default('#') }}" target="_blank">
        <span class="fa-brands fa-linkedin-in"></span>
        <span class="visually-hidden">LinkedIn</span>
      </a>
    </li>
  </ul>
</div>
