{{ attach_library('surface/view-event') }}

<div class="view-event{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  <div class="view-event__grid container">
    <div class="view-event__aside">
      <div class="view-event__bg">
        <h2 role="heading">Filter Results</h2>
        {% if facets %}
          <div class="view-event__facets">
            {{ facets }}
          </div>
        {% endif %}

        <a class="button button--primary" href="{{ path }}">
          Reset Search
        </a>
      </div>

      <div class="view-event__bg">
        <h3>Anyone with Mednet credentials can submit events!</h3>
        <a class="button button--primary" href="https://events.healthsciences.ucla.edu/submit-an-event">
          Submit your event
        </a>
      </div>
    </div>

    <div class="view-event__content">
      {% if summary %}
        <div class="view-event__summary">
          {{ summary }}
        </div>
      {% endif %}

      {% if exposed %}
        <div class="view-event__exposed">
          {{ exposed }}
        </div>
      {% endif %}

      {% if header %}
        <div class="view-event__header">
          {{ header }}
        </div>
      {% endif %}

      {% if rows %}
        <div class="view-content">
          {{ rows }}
        </div>
      {% elseif empty %}
        <div class="view-empty">
          {{ empty }}
        </div>
      {% endif %}

      {% if pager %}
        {{ pager }}
      {% endif %}
    </div>
  </div>
</div>
