{{ attach_library('surface/view-listing-form') }}

<form class="view-listing-form" aria-label="{{ aria_label }}" data-drupal-selector="views-exposed-form-{{ name }}-default" action="{{ action }}" method="get" id="views-exposed-form-{{ name }}-default" accept-charset="UTF-8">
	<div class="js-form-item form-item js-form-type-textfield form-type--textfield  js-form-item-keywords form-item--keywords">
		<label class="form-item__label visually-hidden" for="edit-keywords" aria-hidden="false">Search</label>
		<input class="form-text form-element form-element--type-text form-element--api-textfield" placeholder="{{ placeholder }}" data-drupal-selector="edit-keywords" type="text" id="edit-keywords" name="keywords" value="{{ keys }}" size="30" maxlength="128">
	</div>
	<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
		<button data-drupal-selector="edit-submit-{{ name }}" type="submit" id="edit-submit-{{ name }}" value="Search" class="button js-form-submit form-submit" role="button">
      <span class="visually-hidden" aria-hidden="false"> Search </span>
      <svg class="svg-inline" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
      </svg>
    </button>
	</div>
</form>
