{{ attach_library('surface/person-header') }}

<section class="person-header{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  {% if image %}
    <div class="person__photo">
      {{ image }}
    </div>
  {% endif %}
  <div class="person__content">
    {% include "@elements/title/title.twig" with {
      'title': {
        'modifier': 'person__name',
        'text': name,
        'url': '',
        'level': 1
      }
    } only %}

    {% if title %}
      <p class="person__title">{{ title }}</p>
    {% endif %}

    {% if website %}
      <div class="person__website">
        {% include "@elements/button/button.twig" with {
          'button': website,
        } only %}
      </div>
    {% endif %}

    {% if address or office_hours or phone or email %}
      <div class="person__contact">
        {% if address or office_hours %}
          <div class="person__contact--office">
            {% if address %}
              <address class="person__address">
                <span class="person__label">Primary Location</span>
                <span>{{ address }}</span>
              </address>
            {% endif %}
            {% if office_hours %}
              <div class="person__office-hours">
                <span class="person__label">{{ office_hours_type }}</span>
                <span>{{ office_hours }}</span>
              </div>
            {% endif %}
          </div>
        {% endif %}

        {% if phone or email %}
          <div class="person__contact--connect">
            {% if phone %}
              <div class="person__phone">
                <span class="person__label">Phone</span>
                {{ phone }}
              </div>
            {% endif %}

            {% if email %}
              <div class="person__email">
                <span class="person__label">Email</span>
                {{ email }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>
