{{ attach_library('surface/article-teaser') }}

<article class="article-teaser{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  {% if image %}
    <div class="article-teaser__image">
      {{ image }}
    </div>
  {% endif %}

  <div class="article-teaser__content">
    {% if type %}
      <div class="article-teaser__type">
        {{ type }}
      </div>
    {% endif %}

    {% if category %}
      <div class="article-teaser__type">
        {{ category }}
      </div>
    {% endif %}


    {% if title %}
      {% include "@elements/title/title.twig" with {
        'title': title
      } only %}
    {% endif %}

    {% if subtitle %}
      <div class="article-teaser__subtitle">
        {{ subtitle }}
      </div>
    {% endif %}

    <p class="article-teaser__teaser prose">
      {{ teaser }}
    </p>

    <div class="article-teaser__meta">
      {% if date %}
        {% include '@elements/date/date.twig' with {
          'modifier': date.modifier,
          'date': date.date,
        } %}
      {% endif %}

      {% if readtime %}
        {% include '@elements/readtime/readtime.twig' with {
          'readtime': readtime
        } %}
      {% endif %}
    </div>
  </div>
</article>
