{{ attach_library('surface/event-listing') }}

<article class="event-listing{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {% if type %}
    <div class="event-listing__type">
      {{ type }}
    </div>
  {% endif %}

  {% if title %}
    {% include "@elements/title/title.twig" with {
      'title': title
      } only
    %}
  {% endif %}

  {% if subtitle %}
    <div class="event-listing__subtitle">
      {{ subtitle }}
    </div>
  {% endif %}

  {% if teaser %}
    <div class="event-listing__teaser prose">
      {{ teaser }}
    </div>
  {% endif %}

  {% include '@elements/date/date.twig' with {
    'modifier': date.modifier,
    'date': date.date,
    } only
  %}
</article>
