{{ attach_library('surface/text') }}

<div class="text prose container{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  {{ wysiwyg }}
</div>
