{#
/**
 * @file
 * Surface's theme implementation for the menus in the primary_menu region.
 *
 * Available variables:
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% if is_demo %}

<ul class="menu menu-footer">
  <li class="menu__item menu__item--nolink">
    <h4 class="menu__link menu__link--nolink">Learn and Train</h4>
    <ul class="menu__subnav">
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link">MD Students</a>
      </li>
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link">Residents and Fellows</a>
      </li>
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link">PhD Students</a>
      </li>
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link">Postdoctoral Scholars</a>
      </li>
      <li class="menu__item menu__item--link">
       <a href="#" class="menu__link menu__link--link">Continuing Education</a>
      </li>
    </ul>
  </li>
  <li class="menu__item menu__item--nolink">
    <h4 class="menu__link menu__link--nolink">Get Involved</h4>
    <ul class="menu__subnav">
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link" target="_blank" rel="noopener noreferrer">Give To DGSOM</a>
      </li>
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link" target="_blank" rel="noopener noreferrer">Work For UCLA Health</a>
      </li>
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link" target="_blank" rel="noopener noreferrer">Volunteer for UCLA Health</a>
      </li>
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link">Report Misconduct</a>
      </li>
    </ul>
  </li>
  <li class="menu__item menu__item--nolink">
    <h4 class="menu__link menu__link--nolink">Connect</h4>
    <ul class="menu__subnav">
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link">Alumni</a>
      </li>
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link">Emergency</a>
      </li>
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link">Find an Affinity Group</a>
      </li>
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link" target="_blank" rel="noopener noreferrer">UCLA Directory</a>
      </li>
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link">Maps And Directions</a>
      </li>
      <li class="menu__item menu__item--link">
        <a href="#" class="menu__link menu__link--link" target="_blank" rel="noopener noreferrer">Talk to Our Media Team</a>
      </li>
    </ul>
  </li>
</ul>

{% else %}

  {% import _self as menus %}
  {{ menus.menu_links(items, attributes, 0) }}

  {% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
      {{ items }}
      {% if menu_level == 0 %}
        <div class="menu menu-footer{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
      {% else %}
        <ul class="menu__subnav">
      {% endif %}

      {% for item in items %}
        {% if item.url.isRouted and item.url.routeName == '<nolink>' %}
          {% set menu_item_type = 'nolink' %}
        {% elseif item.url.isRouted and item.url.routeName == '<button>' %}
          {% set menu_item_type = 'button' %}
        {% else %}
          {% set menu_item_type = 'link' %}
        {% endif %}

        {% set item_classes = [
          'menu__item',
          'menu__item--' ~ menu_item_type,
          item.in_active_trail ? 'menu__item--active-trail',
        ] %}

        {% set link_classes = [
          'menu__link',
          'menu__link--' ~ menu_item_type,
          item.in_active_trail ? 'menu__link--active-trail',
        ] %}

        {% set item_classes = item_classes|join(' ')|trim %}
        {% set link_classes = link_classes|join(' ')|trim %}

        <li class="{{ item_classes }}">
          {% if menu_item_type == 'nolink' %}
            <h4 class="{{ link_classes }}">{{ item.title }}</h4>
          {% elseif menu_item_type == 'button' %}
            {% if is_demo %}
              <button class="{{ link_classes }}" type="button">{{ item.title }}</button>
            {% else %}
              {{ link(item.title, item.url, { 'class': link_classes }) }}
            {% endif %}
          {% else %}
            {% if is_demo %}
              <a class="{{ link_classes }}" href="{{ item.url }}" >{{ item.title }}</a>
            {% else %}
              {{ link(item.title, item.url, { 'class': link_classes }) }}
            {% endif %}
          {% endif %}

          {% if menu_level < 1 %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1, is_demo) }}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endmacro %}

{% endif %}
