{% macro menu_links(items, attributes, menu_level) %}
  {% if menu_level == 0%}
    {% set menu_modifier = 'menu-footer'  %}
  {% else %}
    {% set menu_modifier = 'menu__subnav'  %}
  {% endif %}

  {% import _self as menus %}
  {% if items %}
    <ul {{ attributes.addClass('menu', menu_modifier) }}>
      {% set attributes = attributes.removeClass(menu_modifier) %}
      {% for item in items %}

        {% if item.url.isRouted and item.url.routeName == '<nolink>' %}
          {% set menu_item_type = 'nolink' %}
        {% elseif item.url.isRouted and item.url.routeName == '<button>' %}
          {% set menu_item_type = 'button' %}
        {% else %}
          {% set menu_item_type = 'link' %}
        {% endif %}

        {% set item_classes = [
          'menu__item',
          'menu__item--' ~ menu_item_type,
          item.in_active_trail ? 'menu__item--active-trail',
        ] %}

        {% set link_classes = [
          'menu__link',
          'menu__link--' ~ menu_item_type,
          item.in_active_trail ? 'menu__link--active-trail',
        ] %}

        <li{{ item.attributes.addClass(item_classes) }}>
          {% if menu_item_type == 'nolink' %}
            <h4>{{ item.title }}</h4>
          {% elseif menu_item_type == 'button' %}
            {{ link(item.title, item.url, { 'class': link_classes }) }}
          {% else %}
            {{ link(item.title, item.url, { 'class': link_classes }) }}
          {% endif %}

          {% if menu_level < 1 %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}
