{{ attach_library('surface/person-card') }}

<article class="person-card{{ modifier ? ' ' ~ modifier }}"{{ attributes ? attributes|without('class') }}>
  <div class="person-card__image">
    {{ image }}
  </div>
  <div class="person-card__meta">
    {% include "@elements/title/title.twig" with {
      'title': name,
    } only %}
    <div class="person-card__title">{{ title }}</div>
  </div>
</article>
