{{ attach_library('surface/quote') }}
{# TODO: Consolidate this component with Media quote. #}

<div class="quote container{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  <div class="quote__container">
    <div class="quote__wrapper">
      <blockquote>
        <p>{{ quote }}</p>
        <p>{{ author }}</p>
      </blockquote>
    </div>
  </div>
</div>
