<a href="{{ path('<front>') }}" rel="home" class="site-branding{{ modifier ? ' ' ~ modifier }}">
  {% if logo %}
    <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
  {% else %}
    <span class="title">{{ site_name }}</span>
  {% endif %}
</a>
