{{ attach_library('surface/icon') }}

<div class="icon{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  <span class="icon--image fa-solid fa-{{ icon|lower|trim }}" aria-hidden="true"></span>

  {% if url %}
    <a class="icon__link" href="{{ url }}">{{ title }}</a>
  {% endif %}

  {% if teaser %}
    <div class="icon__teaser">{{ teaser }}</div>
  {% endif %}
</div>
