{{ attach_library('surface/accordion') }}

<div class="accordion container{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  <button class="accordion__header" type="button" aria-expanded="false"  aria-controls="accordion-{{ id }}" id="accordion-header-{{ id }}">
    <span>{{ title }}</span>
    <svg class="accordion__icon" viewBox="0 0 20 20">
      <g class="icon__group" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
        <line x1="3" y1="3" x2="17" y2="17"></line>
        <line x1="17" y1="3" x2="3" y2="17"></line>
      </g>
    </svg>
  </button>
  <div id="accordion-{{ id }}" class="accordion__panel" aria-labelledby="accordion-header-{{ id }}">
    <p class="prose">
      {{ text }}
    </p>
  </div>
</div>
