{{ attach_library('surface/card') }}

<article class="card{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {% if image %}
    <div class="card__image">
      {{ image }}
      {# Short date badge only displays if the content is an event. #}
      {% if date_short and event_type %}
        {% include "@elements/date-badge/date-badge.twig" with {
            'modifier': 'date-badge--small',
            'month': date_short.month,
            'day': date_short.day,
          } only
        %}
      {% endif %}

    </div>
  {% endif %}

  <div class="card__content">
    {% if event_type %}
      {% include "@elements/eyebrow/eyebrow.twig" with {
          'eyebrow': {
            'modifier': '',
            'text': event_type,
          }
        } only
      %}
    {% endif %}

    {% if title %}
      {% include "@elements/title/title.twig" with {
        'title': title
        } only
      %}
    {% endif %}

    {% if organization %}
      <div class="card__organization">
        <svg aria-hidden="true" class="icon icon--pin"  focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
          <path fill="currentColor" d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
        </svg>
        <span>{{ organization }}</span>
      </div>
    {% endif %}

    <div class="card__date--wrapper">
      {% include '@elements/date/date.twig' with {
        'modifier': date.modifier,
        'date': date.date,
        } only
      %}

      {# For articles, display the readtime field. #}
      {% if readtime %}
        {% include '@elements/readtime/readtime.twig' with {
          'readtime': readtime
        } %}
      {% endif %}
    </div>

    {# If there are upcoming instances of an event, display `+ more dates`
    next to the event date to show users this is a recurring event. #}
    {% if more_dates %}
      {% include "@elements/button/button.twig" with {
          'button': {
            'modifier': 'button--link card__more-dates',
            'text': '+ more dates',
            'url': title.url
          }
        } only
      %}
    {% endif %}
  </div>
</article>
