{{ attach_library('surface/card') }}

<article class="card{{ modifier ? ' ' ~ modifier : '' }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  {% if image %}
    <div class="card__image">
      {{ image }}

      {# Short date badge only displays if the content is an event. #}
      {% if date_short and event_type %}
        {% include "@elements/date-badge/date-badge.twig" with {
          'modifier': 'date-badge--small',
          'month': date_short.month,
          'day': date_short.day,
        } only %}
      {% endif %}
    </div>
  {% endif %}

  <div class="card__content">
    {% if event_type %}
      {% include "@elements/eyebrow/eyebrow.twig" with {
        'eyebrow': {
          'modifier': '',
          'text': event_type,
        }
      } only %}
    {% endif %}

    {% if title %}
      {% include "@elements/title/title.twig" with {
        'title': title
      } only %}
    {% endif %}

    {% if organization %}
      <div class="card__organization">
        <span class="fa-solid fa-location-dot"></span>
        <span>{{ organization }}</span>
      </div>
    {% endif %}

    <div class="card__date--wrapper">
      {% include '@elements/date/date.twig' with {
        'modifier': date.modifier,
        'date': date.date,
      } only %}

      {# For articles, display the readtime field. #}
      {% if readtime %}
        {% include '@elements/readtime/readtime.twig' with {
          'readtime': readtime
        } %}
      {% endif %}
    </div>

    {# If there are upcoming instances of an event, display `+ more dates`
    next to the event date to show users this is a recurring event. #}
    {% if more_dates %}
      {% include "@elements/button/button.twig" with {
        'button': {
          'modifier': 'button--link card__more-dates',
          'text': '+ more dates',
          'url': title.url
        }
      } only %}
    {% endif %}
  </div>
</article>
