{{ attach_library('surface/messages') }}

{% set classes = [
  'messages',
  type ? 'messages--' ~ type,
  'fade',
  pattern_lab  ? 'no-fade',
]|join(' ')|trim %}

<div class="messages fade{{ type ? ' messages--' ~ type }}{{- attributes ? ' ' ~ attributes.class -}}" data-drupal-selector="messages" role="contentinfo" aria-label="{{ heading }}" {{- attributes ? attributes|without(class) -}}>
  <div class="messages__container" data-drupal-selector="messages-container"{% if type == 'error' %} role="alert"{% endif %}>
    {% if heading %}
      <div class="messages__header">
        <h2 class="visually-hidden">{{ heading }}</h2>
        <span class="fa-solid fa-circle-info"></span>
      </div>
    {% endif %}

    <div class="messages__content">
      {% if messages|length > 1 %}
        <ul class="messages__list">
          {% for message in messages %}
            <li class="messages__item">{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ messages|first }}
      {% endif %}
    </div>
  </div>
</div>
