{% macro menu_links(items, attributes, menu_level, aria_id, data_menu) %}
  {% set drupal_selector_primary_nav_level = menu_level <= 1 ? 'menu-main--level-' ~ (menu_level + 1) : false %}

  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="menu-main menu-main--{{ data_menu }} menu-main--level-1" data-type="{{ data_menu }}" data-drupal-selector="{{ drupal_selector_primary_nav_level }}" {{ attributes ? attributes|without('class', 'id') }}>
    {% elseif menu_level == 1 %}
      <ul class="menu-main menu-main--level-2" id="{{ aria_id }}" data-drupal-selector="{{ drupal_selector_primary_nav_level }}" {{ attributes ? attributes|without('class', 'id') }}>
    {% else %}
      <ul class="menu-main menu-main--level-3">
    {% endif %}

      {% for item in items %}
        {% if item.url.isRouted and item.url.routeName == '<nolink>' %}
          {% set menu_item_type = 'nolink' %}
        {% elseif item.url.isRouted and item.url.routeName == '<button>' %}
          {% set menu_item_type = 'button' %}
        {% else %}
          {% set menu_item_type = 'link' %}
        {% endif %}

        {% set item_classes = ['menu__item'] %}
        {% set link_classes = ['menu__link'] %}

        {% if menu_item_type %}
          {% set item_classes = item_classes|merge(['menu__item--' ~ menu_item_type]) %}
          {% set link_classes = link_classes|merge(['menu__link--' ~ menu_item_type]) %}
        {% endif %}

        {% if menu_level == 0 %}
          {% set item_classes = item_classes|merge(['menu__item--level-1']) %}
          {% set link_classes = link_classes|merge(['menu__link--level-1']) %}
        {% endif %}

        {% if menu_level == 1 %}
          {% set item_classes = item_classes|merge(['menu__item--level-2']) %}
          {% set link_classes = link_classes|merge(['menu__link--level-2']) %}
        {% endif %}

        {% if menu_level == 2 %}
          {% set item_classes = item_classes|merge(['menu__item--level-3']) %}
          {% set link_classes = link_classes|merge(['menu__link--level-3']) %}
        {% endif %}

        {% if item.is_expanded %}
          {% set item_classes = item_classes|merge(['is-expanded']) %}
          {% set link_classes = link_classes|merge(['is-expanded']) %}
        {% endif %}

        {% if item.is_collapsed %}
          {% set item_classes = item_classes|merge(['is-collapsed']) %}
          {% set link_classes = link_classes|merge(['is-collapsed']) %}
        {% endif %}

        {% if item.in_active_trail %}
          {% set item_classes = item_classes|merge(['menu__item--active-trail']) %}
          {% set link_classes = link_classes|merge(['menu__link--active-trail']) %}
        {% endif %}

        {% if item.below and data_menu != 'default' %}
          {% set item_classes = item_classes|merge(['menu__item--has-children']) %}
          {% set link_classes = link_classes|merge(['menu__link--has-children']) %}
        {% endif %}

        {% if data_menu == 'default' %}
          {% set link_title %}
            <span class="menu__link-inner">{{ item.title }}</span>
          {% endset %}
        {% else %}
          {% set link_title %}
            <span class="menu__link-inner menu__link-inner--level-{{ menu_level + 1 }}">{{ item.title }}</span>
          {% endset %}
        {% endif %}

        {% set item_classes = item_classes|join(' ')|trim %}
        {% set link_classes = link_classes|join(' ')|trim %}

        <li class="{{ item_classes }}" {{ menu_level < 1 and data_menu != 'default' and item.below ? 'data-drupal-selector="menu__item--has-children"' }}>
          {% set aria_id = (aria_id ~ loop.index )|clean_id %}

          {% if menu_item_type == 'link' or menu_item_type == 'nolink' %}
            {{ link(menu_item_type == 'link' ? link_title : item.title, item.url, {
              'class': link_classes,
              'data-drupal-selector': menu_level < 1 and data_menu != "default"  ? 'menu__link--has-children' : false,
              })
            }}

            {% if item.below and data_menu != "default" %}
              {% if menu_level == 0 %}
                {% include '@elements/menu-toggle/menu-toggle.twig' with {
                  'id': aria_id,
                  'title': item.title ~ ' sub-navigation',
                } %}
              {% endif %}

              {% if data_menu == 'dropdown' and menu_level < 1 %}
                {% set attributes = attributes.setAttribute('id', aria_id) %}
                {{ menus.menu_links(item.below, attributes, menu_level + 1, aria_id, data_menu) }}
              {% endif %}

              {% if data_menu == 'mega' and menu_level < 2 %}
                {% set attributes = attributes.setAttribute('id', aria_id) %}
                {{ menus.menu_links(item.below, attributes, menu_level + 1, aria_id, data_menu) }}
              {% endif %}
            {% endif %}

          {% elseif menu_item_type == 'button' %}
            {{ link(link_title, item.url, {
              'class': link_classes,
              'aria-controls': menu_level == 0 and item.below ? aria_id : false,
              'aria-expanded': menu_level == 0 and item.below ? 'false' : false,
              'data-drupal-selector': menu_level == 0 and item.below ? 'primary-nav-submenu-toggle-button' : false,
            }) }}

            {% set attributes = attributes.setAttribute('id', aria_id) %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1, aria_id, data_menu) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0, 'menu-main__item-', data_menu) }}
