<section class="pl-colors">
  {% for title, list in colors %}
    <div class="just-for-gap">
      <div class="heading">{{ title }}</div>
      <article class="color-demo">
        {% for item in list %}
          <div class="color-demo__swatch">
            <div class="swatch" style="background-color: {{ item.value }}"></div>
            <div class="meta">
              <span class="name">{{ item.name }}</span>
              <span class="value">{{ item.value }}</span>
              <span class="var">{{ item.var }}</span>
            </div>
          </div>
        {% endfor %}
      </article>
    </div>
  {% endfor %}
</section>
