<ul class="menu menu--social">
  {% if facebook_url %}
  <li class="menu__item">
    <a class="menu__link" href="{{ facebook_url }}" target="_blank">
      <span class="fa-brands fa-facebook"></span>
      <span class="visually-hidden">Facebook</span>
    </a>
  </li>
  {% endif %}

  {% if x_url %}
  <li class="menu__item">
    <a class="menu__link" href="{{ x_url }}" target="_blank">
      <span class="fa-brands fa-x-twitter"></span>
      <span class="visually-hidden">X</span>
    </a>
  </li>
  {% endif %}

  {% if instagram_url %}
  <li class="menu__item">
    <a class="menu__link" href="{{ instagram_url }}" target="_blank">
      <span class="fa-brands fa-instagram"></span>
      <span class="visually-hidden">Instagram</span>
    </a>
  </li>
  {% endif %}

  {% if youtube_url %}
  <li class="menu__item">
    <a class="menu__link" href="{{ youtube_url }}" target="_blank">
      <span class="fa-brands fa-youtube"></span>
      <span class="visually-hidden">YouTube</span>
    </a>
  </li>
  {% endif %}

  {% if linkedin_url %}
  <li class="menu__item">
    <a class="menu__link" href="{{ linkedin_url }}" target="_blank">
      <span class="fa-brands fa-linkedin-in"></span>
      <span class="visually-hidden">LinkedIn</span>
    </a>
  </li>
  {% endif %}
</ul>
