{{ attach_library('surface/facet-block') }}

<div class="facet-block{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {{ title_prefix }}
  {% if label %}
    <h3 class="facet-block__title{{ title_attributes ? ' ' ~ title_attributes }}"
    {{- title_attributes ? title_attributes|without(class) -}}>>{{ label }}</h3>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
</div>
