{{ attach_library('surface/slider') }}

<section class="slider glide{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {% block slides %}
        {% include '@collections/slider-item/slider-item.twig' with {
          'image': '<img src="https://dummyimage.com/480x270/d6d6d6/fff&text=+" alt="Placeholder alternative text" typeof="foaf:Image">',
          'title': '70 Years of trailblazing',
          'url': '#',
          'url_title': 'Call to action',
          'wysiwyg': '<p>Jelly-o carrot cake tootsie roll chocolate bar croissant macaroon pastry toffee apple pie toffee apple pie.</p>'
        } %}

        {% include '@collections/slider-item/slider-item.twig' with {
          'image': '<img src="https://dummyimage.com/480x270/d6d6d6/fff&text=+" alt="Placeholder alternative text" typeof="foaf:Image">',
          'title': '70 Years of trailblazing',
          'url': '#',
          'url_title': 'Call to action',
          'wysiwyg': '<p>Jelly-o carrot cake tootsie roll chocolate bar croissant macaroon pastry toffee apple pie toffee apple pie.</p>'
        } %}
      {% endblock %}
    </ul>
  </div>

  {% if slide_count > 1 %}
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
        </svg>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
        </svg>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  {% endif %}

  {% if slide_count > 1 %}
    <div class="glide__bullets" data-glide-el="controls[nav]">
      {% for i in 0..slide_count - 1 %}
        <button class="glide__bullet" data-glide-dir="={{ loop.index0 }}"></button>
      {% endfor %}
    </div>
  {% endif %}
</section>
