{{ attach_library('surface/alert') }}

<div class="alert container{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  <div class="alert__container">
    <div class="alert__header">
      <h2 class="visually-hidden">Alert</h2>
      <span class="fa-solid fa-circle-info"></span>
    </div>
    <div class="prose">
      {{ text }}
    </div>
  </div>
</div>
