{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after 'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom placeholders.
 * - noscript_styles: <noscript> content.
 *
 * @see template_preprocess_html()
 */
#}

{% set body_classes = [
  logged_in ? 'user-logged-in',
  not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
  node_type ? 'page-node-type-' ~ node_type|clean_class,
  db_offline ? 'db-offline',
] %}

<!DOCTYPE html>
<html{{ html_attributes }} data-theme="{{ data_theme }}" data-alert="{{ data_alert }}">
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    {{ noscript_styles }}
  </head>
  <body{{ attributes.addClass(body_classes) }} data-menu="{{ data_menu }}" data-search="{{ data_search }}">
    {% include '@elements/skip-link/skip-link.twig' %}
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    {# Adds siteimprove tracking script. #}
    {% if site_improve == 'yes' %}
        {# If Acquia hosting environment is 01live. #}
        {% if hosting_environment == '01live' %}
            <script async src="https://siteimproveanalytics.com/js/siteanalyze_6293352.js"></script>
            <!-- OneTrust Cookies Consent Notice start for sites with siteimprove -->
            <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="887c368e-4eeb-4c9f-a4b3-e7735cb14cab" ></script>
            <script type="text/javascript">
              function OptanonWrapper() { }
            </script>
            <!-- OneTrust Cookies Consent Notice end for medschool.ucla.edu -->
        {% endif %}
    {% endif %}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
