{{ attach_library('surface/callout') }}

<article class="callout container{{ modifier ? ' ' ~ modifier }}
  {{- attributes ? ' ' ~ attributes.class -}}"
  {{ attributes ? attributes|without('class') }}>
  <div class="callout__image">
    {{ image }}
	</div>
	<div class="callout__text">
		<div class="callout__wrapper">
      {% if title %}
        {% include "@elements/title/title.twig" with {
            "title": title,
          } only
        %}
      {% endif %}

			{% if teaser %}
        <div class="callout__teaser prose">
          {{ teaser }}
        </div>
      {% endif %}

      {% if cta %}
        {% include "@elements/button/button.twig" with {
          button: {
            'modifier': cta.modifier,
            'text': cta.text,
            'url': cta.url,
          }
        } only %}
      {% endif %}
		</div>
	</div>
</article>
