{{ attach_library('surface/callout') }}

<article class="callout container{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{ attributes ? attributes|without('class') }}>
  <div class="callout__image">
    {{ image }}
	</div>
	<div class="callout__text">
		<div class="callout__wrapper">
      {% if title %}
        {% include "@elements/title/title.twig" with {
            "title": title,
          } only
        %}
      {% endif %}

			{% if teaser %}
        <div class="callout__teaser prose">
          {{ teaser }}
        </div>
      {% endif %}

      {# Since this component serves the Callout and Highlight paragraph types,
      adding a Twig block here allows us to change which Button component we use
      during integration. At the moment the Button-track is only used on components
      where Siteimprove tracking is implemented. #}
      {% block cta %}
        {% include "@elements/button-track/button-track.twig" with {
          'action': cta.action,
          'category': cta.category,
          'label': cta.label,
          'modifier': cta.modifier,
          'text': cta.text,
          'url': cta.url,
        } only %}
      {% endblock %}
		</div>
	</div>
</article>
