{{ attach_library('surface/event-calendar') }}

<section class="event-calendar container{{- modifier ? ' ' ~ modifier -}}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  <div class="event-calendar__inner">
    {% if heading or see_more %}
      <header class="event-calendar__header">
        {% if heading %}
          {% include "@elements/title/title.twig" with {
              'title': title,
            } only
          %}
        {% endif %}

        {% if see_more %}
          <div class="event-calendar__more-link-wrapper">
            {% include "@elements/button/button.twig" with {
                'button': see_more,
              } only
            %}
          </div>
        {% endif %}
      </header>
    {% endif %}

    <div class="event-calendar__items">
      {{ events }}
    </div>
  </div>
</section>
