{{ attach_library('surface/nav') }}

<nav class="nav{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}
  aria-labelledby="{{ heading_id }}" role="navigation">
  {{ title_prefix }}
  <div class="nav__title{{ title_hidden ? 'visually-hidden' }}" {{ title_attributes ? title_attributes|without('class') }}
    id="{{ heading_id }}">{{ label }}</div>
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
