{#
/**
 * @file
 * Theme override for rendering images using the Image paragraph type.
 *
 * - We wrap the target image in a `figure` tag for best practices.
 * - Using the twig_tweak module, we are rendering the entity (image) and assigning a preconfigured media view mode based on the existense of a css class.
 * - As the user inserts an image on a page using the Image paragraph type, a curated list of options for images sizes and aspect radios to choose from is available under the Layout options fieldset.
 * - If no option is selected, we a default image size has been setup to ensure images always get rendered in the most responsible manner for visual and peformance purposes.
 * - The image sizes options available to users serve two purposes:
 *   - Add a css class to the image wrapper (i.e. `small-portrait`, `medium-rectangular`, etc.)
 *   - Based on the css class, we pre-select a media view mode to render the image (i.e.`small_portrait_2_3_250x375`, `medium_rectangular_480x320`, etc.)
 *   - The css class and media view mode machine name are passed to the image wrapper thorugh drupal's attributes.
 * - Each media view mode has been preconfigured with a respective image style (i.e. 3:2 (Max 480px), etc.)
 */
#}

{% set classes = [
  'image-embed',
  modifier ? modifier,
  attributes ? attributes.class
]|join(' ')|trim %}

{% if mid %}
  {% if 'small-portrait' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'a_small_portrait_250x375') }}
    {% endset %}
  {% elseif 'small-rectangular' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'a_small_rectangular_240x160') }}
    {% endset %}
  {% elseif 'small-rectangular-tall' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'a_small_rectangular_tall_480x360') }}
    {% endset %}
  {% elseif 'small-square' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'a_small_square_250px') }}
    {% endset %}
  {% elseif 'medium-portrait' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'b_medium_portrait_360x540') }}
    {% endset %}
  {% elseif 'medium-rectangular' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'b_medium_rectangular_480x320') }}
    {% endset %}
  {% elseif 'medium-rectangular-tall' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'b_medium_rectangular_tall_720_x_540') }}
    {% endset %}
  {% elseif 'medium-rectangular-wide' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'b_medium_rectangular_wide_720x405') }}
    {% endset %}
  {% elseif 'medium-square' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'b_medium_square_500px') }}
    {% endset %}
  {% elseif 'large-rectangular' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'large_rectangular_3_2_720x480') }}
    {% endset %}
  {% elseif 'large-rectangular-tall' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'large_rectangular_tall_960x720') }}
    {% endset %}
  {% elseif 'large-square' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'large_square_720px') }}
    {% endset %}
  {% elseif 'extra-large-rectangular' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'xtra_large_rectangular_3_2_960x640') }}
    {% endset %}
  {% elseif 'extra-large-rectangular-wide' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'xtra_large_rectangular_wide_16_9_960x540') }}
    {% endset %}
  {% elseif 'extra-large-square' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'xtra_large_square_960px') }}
    {% endset %}
  {% elseif 'super-large' in attributes.class %}
    {% set image %}
      {{ drupal_entity('media', mid, 'zsuper_large_full_width_1376px') }}
    {% endset %}
  {% else %}
    {% set image %}
      {{ drupal_entity('media', mid, 'large_rectangular_3_2_720x480') }}
    {% endset %}
  {% endif %}

  <figure class="{{ classes }}" {{ attributes ? attributes|without('class') }}>
    {{ image }}
  </figure>
{% else %}
  <div class="{{ classes }}" {{ attributes ? attributes|without('class') }}>
    <div class="prose">
      <pre>No media exists, please update or delete this component.</pre>
    </div>
  </div>
{% endif %}
